@model Umbraco.Web.PublishedModels.Testimonials

@*<div class="row content-panel content-panel-testimonials">
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h1 class="text-center">@Model.Title</h1>
            }
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2>@Model.Col1Heading</h2>
                    @Html.Raw(Model.Col1Contents)
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>@Model.Col2Heading</h2>
                    @Html.Raw(Model.Col2Contents)
                </div>
            </div>
        </div>
    </div>*@
